<div id="search-container">
	<h2>Search Results</h2>
	<span id="search-close-button">Close</span>
	<form class="search-form">
		<input type="text" name="keyword" class="search-keyword" placeholder="Search" value="<%= query.keyword %>"/>
		<div class="search-submit">Search</div>
	</form>
	<div id="search-results-container">
		<div id="search-facets">
			<div id="search-facet-by-volume">
				<h3>Filter by Volume</h3>
				<ul>
					<li>Monet Paintings and Drawings in the Art Institute of Chicago (49)</li>
					<li>Renoir Paintings and Drawings in the Art Institute of Chicago (20)</li>
					<li>Cezanne Paintings and Drawings in the Art Institute of Chicago (10)</li>
				</ul>
			</div>
			<div id="filter-by-section">
				<h3>Filter by Section</h3>
				<ul>
					<li>Works of Art (30)</li>
					<li>Collector (10)</li>
					<li>Section (2)</li>
				</ul>
			</div>
		</div>
		<div id="search-results-wrapper">
			<div id="search-results">
				<ul>
					<li><a href="#search-content" class="results-content-tab active">Content (62)</a></li>
					<li><a href="#search-notes" class="results-content-tab">Gloria's Notes (10)</a></li>
				</ul>
				<div id="search-content" class="search-results-content">
					<div class="search-result">
						<div class="search-result-header">
							<div class="search-result-title">Cat. 1. Auguste Vacquerie. c. 1854.</div>
							<div class="search-result-relevance">
								<div class="relevance-bar">&nbsp;</div>
							</div>
						</div>
						<div class="search-result-content">
							<div class="search-result-section-image">
								<img src="http://osci-aic.imamuseum.org/sites/default/files/image_assets/1971.577.15.jpg" data-figure_id="fig-134367-1">
							</div>
							<div class="search-result-content-entries">
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="search-result">
						<div class="search-result-header">
							<div class="search-result-title">Cat. 1. Auguste Vacquerie. c. 1854.</div>
							<div class="search-result-relevance">
								<div class="relevance-bar">&nbsp;</div>
							</div>
						</div>
						<div class="search-result-content">
							<div class="search-result-section-image">
								<img src="http://osci-aic.imamuseum.org/sites/default/files/image_assets/1971.577.15.jpg" data-figure_id="fig-134367-1">
							</div>
							<div class="search-result-content-entries">
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="search-result">
						<div class="search-result-header">
							<div class="search-result-title">Cat. 1. Auguste Vacquerie. c. 1854.</div>
							<div class="search-result-relevance">
								<div class="relevance-bar">&nbsp;</div>
							</div>
						</div>
						<div class="search-result-content">
							<div class="search-result-section-image">
								<img src="http://osci-aic.imamuseum.org/sites/default/files/image_assets/1971.577.15.jpg" data-figure_id="fig-134367-1">
							</div>
							<div class="search-result-content-entries">
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="search-result">
						<div class="search-result-header">
							<div class="search-result-title">Cat. 1. Auguste Vacquerie. c. 1854.</div>
							<div class="search-result-relevance">
								<div class="relevance-bar">&nbsp;</div>
							</div>
						</div>
						<div class="search-result-content">
							<div class="search-result-section-image">
								<img src="http://osci-aic.imamuseum.org/sites/default/files/image_assets/1971.577.15.jpg" data-figure_id="fig-134367-1">
							</div>
							<div class="search-result-content-entries">
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
								<div class="search-result-content-entry">
									<div class="search-result-content-entry-title">
										Curatorial Entry
									</div>
									<div class="search-result-content-entry-body">
										Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="search-notes" class="search-results-content" style="display:none;">
					<div class="search-result">
						<div class="search-result-header">
							<div class="search-result-title">Cat. 1. Auguste Vacquerie. c. 1854.</div>
							<div class="search-result-relevance">
								<div class="relevance-bar">&nbsp;</div>
							</div>
						</div>
						<div class="search-result-content">
							<div class="search-result-publication">Monet Paintings and Drawings in the Art Institute of Chicago</div>
							<div class="search-result-note-content">
								Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus co
							</div>
						</div>
					</div>
					<div class="search-result">
						<div class="search-result-header">
							<div class="search-result-title">Cat. 1. Auguste Vacquerie. c. 1854.</div>
							<div class="search-result-relevance">
								<div class="relevance-bar">&nbsp;</div>
							</div>
						</div>
						<div class="search-result-content">
							<div class="search-result-publication">Monet Paintings and Drawings in the Art Institute of Chicago</div>
							<div class="search-result-note-content">
								Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus co
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>