<div id="footnotes-handle" class="drawer-handle">Footnotes</div>
<div id="footnotes-content" class="drawer-content">
	<div id="footnotes-nav-prev"><div class="footnotes-indicator prev"></div></div>
	<div id="footnotes-list-container">
		<ul id="footnotes-list">
			<% _.each(footnotes, function(footnote) { %>
				<li>
					<div class="footnote-id">
						<a class="view-in-context" href="#" data-footnote-id="<%= footnote.id %>">
							<%= parseInt(footnote.get('index'), 10) %>
						</a>
					</div>
					<div class="footnote-body"><%= footnote.get('body') %></div>
				</li>
			<% }); %>
		</ul>
	</div>
	<div id="footnotes-nav-next">
    <div id="closeDrawer" class="close-handle"></div>
    <div class="footnotes-indicator next"></div></div>
</div>
