<div id="figures-handle" class="drawer-handle">Figures</div>
<div id="figures-content" class="drawer-content">
	<div id="figures-nav-prev"><div class="figures-indicator prev"></div></div>
	<div id="figures-list-container">
		<ul id="figures-list">
			<% _.each(figures, function(figure) { %>
				<li>
					<figure class="preview" data-figure-id="<%= figure.id %>">
						<div class="figure-preview-wrapper">
						<% if (figure.get('thumbnail_url') != undefined) { %>
							<img class="figure-preview" src="<%= figure.get('thumbnail_url') %>" alt="<%= figure.get('alt') %>" />
						<% } else { %>
							<div class="figure-preview empty">&nbsp;</div>
						<% } %>
						</div>
						<div class="figure-info">
							<!--<h3 class="title">Figure Title?</h3>-->
							<!--<p class="meta-info">meta info | more meta</p>-->
							<div class="caption">
								<%= figure.get('caption') %>
							</div>
						</div>
						<a class="view-fullscreen"></a>
						<% if (figure.get('count') > 1) { %>
						<a class="view-in-context multi-occurence"></a>
						<% } else { %>
						<a class="view-in-context"></a>
						<% } %>
					</figure>
				</li>
			<% }); %>
		</ul>
	</div>
	<div id="figures-nav-next">
    <div id="closeDrawer" class="close-handle"></div>
    <div class="figures-indicator next"></div></div>
</div>