<div id="glossary-handle" class="drawer-handle">Glossary</div>
<div id="glossary-content" class="drawer-content">
	<div id="closeDrawer" class="close-handle"></div>
	<div id="glossary-wrapper">
		<div id="glossary-sidebar">
			<div id="glossary-filter-box">
				<input type="text" id="glossary-filter" placeholder="Search Glossary" />
				<div id="glossary-filter-search-icon"></div>
				<div id="glossary-filter-clear"></div>
			</div>
			<ul id="glossary-term-listing"></ul>
			<ul id="glossary-term-listing-mobile"></ul>
		</div>
		<div id="glossary-term-content">
			<h4></h4>
			<p>Click a glossary term on the left to view its definition.</p>
		</div>
	</div>
</div>