body {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	overflow: hidden;
}

a {
	color:#52818C;	
}

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#reader {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: url('../img/bg-body.png') repeat;
	overflow: hidden;
}

figcaption {
	padding-top:10px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.page {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;	
}
.page p {
	/*line-height:1.5em;*/
}

a.figure_reference {
	
}
a.footnote-reference {
	vertical-align:super;
	font-size:10px;
	margin-right:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}

/* figure tables */
.figure_content table {
	width:100%;
}
.figure_content table thead{
	
}
.figure_content table thead tr {
	
}
.figure_content table thead th {
	text-align:left;
	padding:5px;
}

.figure_content table tbody {
	
}
.figure_content table tbody tr {
	
}
.figure_content table tbody tr:nth-child(odd) {
	background: #eee;	
}
.figure_content table tbody td {
	padding:5px;
}

/* tooltips */
.ui-tooltip-toolbar {
	background-color: #333;
	opacity: .75 !important;
	color: #fff;
	font-size: .75em;
	font-family: Helvetica;
	border: 1px solid #000;
	width: auto !important;
	border-radius: 3px;
}
.ui-tooltip-toolbar a, 
.ui-tooltip-toolbar a:active, 
.ui-tooltip-toolbar a:visited, 
.ui-tooltip-toolbar a:hover, 
.ui-tooltip-toolbar a:link {
	color: #fff;
}

/* drawers */
.drawer-handle {
	cursor: pointer;
}

/* misc */
.fancybox-close {
	top: 0px!important;
	right: 0px!important;
	opacity:.4;
}
.fancybox-close:hover { opacity: 1; }

@-webkit-keyframes pulse {
	from {
	  -webkit-transform: scale(1.0);
	  animation-timing-function: ease-out;
	}
	75% {
	  -webkit-transform: scale(0);
	  animation-timing-function: ease-in;
	}
	to { 
	  -webkit-transform: scale(1.0);
	  animation-timing-function: ease-out;
	}
}
#osci_linker {
	border-radius: 3px;
	-moz-border-radius: 3px!important;
	-webkit-border-radius: 3px!important;
	background-color: #cbcbcb;
	background: -moz-linear-gradient(100% 100% 90deg, #cbcbcb, #ffffff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cbcbcb));
	-moz-box-shadow: 0 -6px 6px #888;
	-webkit-box-shadow: 0 0 6px #888;
	box-shadow: 0 0 6px #888;
	height: 28px;
	width:100px;
}
#osci_linker a {
	width:18px;height:18px;
	overflow:hidden;
	display:block;
	padding:0;
	text-indent:-999px; 
	position:absolute;
	top:5px;
	opacity:.7;
}
#osci_linker a:hover {
	opacity:1;	
}
#osci_linker .next {
	background: url('../img/icon-figref-next.png') no-repeat left top;
	left:36px;
}
#osci_linker .prev {
	background: url('../img/icon-figref-prev.png') no-repeat left top;
	left:8px;
}
#osci_linker .close {
	background: url('../img/icon-figref-close.png') no-repeat left top;
	left:71px;
}
a.cross-link {
	text-decoration: none;
}