body {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	overflow: hidden;
}

a {
	color:#52818C;	
}

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#reader {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: url('../img/bg-body.png') repeat;
	overflow: hidden;
}

figcaption {
	padding-top:10px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.page {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;	
}
.page p {
	/*line-height:1.5em;*/
}

.paragraph-controls {
	color: #BACCD1;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

a.figure_reference {
	
}
a.footnote-reference {
	vertical-align:super;
	font-size:10px;
	margin-right:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}

/* figure tables */
.figure_content table {
	width:100%;
}
.figure_content table thead{
	
}
.figure_content table thead tr {
	
}
.figure_content table thead th {
	text-align:left;
	padding:5px;
}

.figure_content table tbody {
	
}
.figure_content table tbody tr {
	
}
.figure_content table tbody tr:nth-child(odd) {
	background: #eee;	
}
.figure_content table tbody td {
	padding:5px;
}

/* paragraph number controls */
.paragraph-controls {
	font-size:11px!important;	
}
.paragraph-controls.notes-present span {
	padding:2px 5px;background:#EBE8C1;color:#333;
}
.paragraph-controls span {
	padding:2px 5px;
}
.paragraph-controls.notes-present:after {
	/*content: url('../img/bg-note-indicator.png');
	display:block;
	position:relative;
	bottom:0px;
	left:0px;*/
}

/* tooltips */
.ui-tooltip-toolbar {
	background-color: #333;
	opacity: .75 !important;
	color: #fff;
	font-size: .75em;
	font-family: Helvetica;
	border: 1px solid #000;
	width: auto !important;
	border-radius: 3px;
}
.ui-tooltip-toolbar a, 
.ui-tooltip-toolbar a:active, 
.ui-tooltip-toolbar a:visited, 
.ui-tooltip-toolbar a:hover, 
.ui-tooltip-toolbar a:link {
	color: #fff;
}

/* misc */
.fancybox-close {
	top: 0px!important;
	right: 0px!important;
	opacity:.4;
}
.fancybox-close:hover { opacity: 1; }


