#figures {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #cbcbcb;
    background: -moz-linear-gradient(100% 100% 90deg, #cbcbcb, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cbcbcb));
    -moz-box-shadow: 0 -6px 6px #888;
    -webkit-box-shadow: 0 0 6px #888;
    -ms-box-shadow: 0 0 6px #888;
    box-shadow: 0 0 6px #888;
}
#figures-handle {
	position: absolute;
	left: 105px;
	top: -24px;
	width: 99px;
	font-size: 12px;
    line-height: 1;
    background: transparent url("../img/bg-tab-bottom.png") no-repeat;
    text-align: center;
	overflow: hidden;
	padding: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
#figures-content {
	position: relative;
	height: 0px;
	overflow-y: hidden;
}
#figures-nav-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 40px;
}
#figures-nav-next {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
}
.figures-indicator {
	position: absolute;
	top: 50%;
	text-indent: 100%;
	overflow: hidden;
	height: 28px;
	width: 40px;
	opacity: .4;
}
.figures-indicator:hover {
	opacity: 1;
}
.figures-indicator.prev {
	background: url(../img/icon-nav-arrow-left.png) no-repeat center top;
}
.figures-indicator.next {
	background: url(../img/icon-nav-arrow-right.png) no-repeat center top;
}
#figures-list-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	right: 40px;
	overflow: hidden;
}
#figures-list {
	list-style: none;
	-webkit-transition: -webkit-transform 300ms linear;
	width: 10000px;
}
#figures-list li {
	display: inline-block;
	height: 300px;
	padding: 10px 20px;
	overflow-x: hidden;
	overflow-y: hidden;
	float: left;
}
#figures-list .figure-preview {
	width: 240px;
	height: 240px;
	cursor: pointer;
	background-position: center;
	background-size: cover;
	background: url('../img/osci-default-figure.png');
}
#figures-list .figure-info {
	max-width: 208px;
}
#figures-list .caption {
	max-height: 1.25em;
	overflow: hidden;
	float: left;
}
#figures-list a.view-in-context {
	height: 16px;
	width: 16px;
	margin-top: 2px;
	background: url('../img/icon-goto.png');
	float: right;
	opacity: .6;
}
#figures-list a.view-in-context:hover {
	opacity: 1;
}
#figures-list a.view-fullscreen {
	height: 16px;
	width: 16px;
	margin-top: 2px;
	background: url('../img/icon-fullscreen.png');
	float: right;
	opacity: .6;
}
#figures-list a.view-fullscreen:hover {
	opacity: 1;
}