#glossary {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	overflow: visible;
	z-index: 100;
	background-color: #cbcbcb;
    background: -moz-linear-gradient(100% 100% 90deg, #cbcbcb, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cbcbcb));
    -moz-box-shadow: 0 -6px 6px #888;
    -webkit-box-shadow: 0 0 6px #888;
    -ms-box-shadow: 0 0 6px #888;
    box-shadow: 0 0 6px #888;
}
#glossary-handle {
	position: absolute;
	left: 210px;
	top: -24px;
	width: 99px;
	font-size: 12px;
    line-height: 1;
    background: transparent url("../img/bg-tab-bottom.png") no-repeat;
    text-align: center;
	overflow: hidden;
	padding: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
#glossary-content {
	position: relative;
	height: 0;
	overflow-y: hidden;
}
#glossary-sidebar {
	display: table-cell;
	width: 320px;
	height: 100%;
}
#glossary-wrapper {
	padding: 20px;
	display: table;	
	width: 100%;
}
#glossary-filter-box {
	position: relative;
}
#glossary-term-listing-mobile {
	display: none;
}
#glossary-filter-search-icon {
	position: absolute;
	top: 4px;
	left: 8px;
	width: 20px;
	height: 20px;
	background: url(../img/icon-magnify-gray.png) 0 0 no-repeat;
	background-size: 18px 18px;
}
#glossary-filter {
	line-height: 1.4em;
	text-indent: 10px;
	border-radius: 50px;
	border: none;
	font-size: 18px;
	background: #fff;
	border: 2px inset #ccc;
	width: 100%;
	-webkit-appearance: none;
	padding: 0 25px;
	outline-width: 0;
}
#glossary-filter-clear {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 6px;
	width: 20px;
	height: 20px;
	background: url(../img/close-circle.png) 0 0 no-repeat;
	background-size: 20px 20px;
}
#glossary-term-listing,
#glossary-term-listing-mobile {
	margin: 10px 0;
	list-style: none;
	height: 200px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
#glossary-term-listing li,
#glossary-term-listing-mobile li {
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-bottom: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#glossary-term-content {
	display: table-cell;
	width: auto;
	height: 100%;
}
#glossary-term-content * {
	padding: 0 20px;
}

#glossary-term-listing-mobile li {
	height: auto;
	list-style: none;
}
#glossary-term-listing-mobile li ul li {
	height: auto;
	border-bottom: 0;
	box-shadow: none;
	padding: 5px 0;
	line-height: normal;
	cursor: default;
	font-weight: normal;
}
#glossary-term-listing-mobile .active-term {
	font-weight: bold;
}
.glossary-term {
	cursor: pointer;
	color: #52818C;
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 480px) {
	#glossary-term-listing,
	#glossary-term-content {
		display: none;
	}
	#glossary-term-listing-mobile {
		display: block;
	}
	#glossary-term-listing-mobile ul {
		display: none;
	}
}