.ui-tooltip-content {
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	background: #fff;
	
	
}
.ui-tooltip .ui-tooltip-tip {
	background: url('../img/bg-toolbar.gif') repeat!important;
	display:none!important;
}
.ui-tooltip, .qtip {
	max-width:auto!important;
	
	margin-left:-10px;
}

.ui-tooltip, .qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;
	font-size: 10.5px;
	line-height: 12px;
	border-width: 1px;
	border-style: solid;
	background: url('../img/bg-toolbar.gif') repeat;
	border-radius:6px;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
}
.ui-tooltip-content {
	background: url('../img/bg-toolbar.gif') repeat;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding:20px;
}
.ui-tooltip.qtip .ui-tooltip-titlebar {
	font-size:14px;text-transform:uppercase;
	border-bottom:3px solid #999;
	margin: 10px 10px 5px 10px;
	padding:5px 0 5px 0;
	font-family:Arial, Helvetica, sans-serif;
}
/* paragraph number controls */
.paragraph-controls {
	color: #BACCD1;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.paragraph-controls.notes-present span {
	padding:2px 5px;
	background:#EBE8C1;
	color:#333;
}
.paragraph-controls.notes-present span:hover, .paragraph-controls.notes-present span.hovered {
	background: #C9C6A0;
}
.paragraph-controls span {
	padding:2px 5px;
}

/* paragraph control tooltips */
.paragraph-controls .ui-tooltip, .paragraph controls .qtip {
	box-shadow:none;border:none;
}
.paragraph-controls .ui-tooltip.qtip {
	border-radius:4px!important;
	
}
.paragraph-controls .ui-tooltip-content {
	padding:6px;
	word-wrap:normal!important;
	box-shadow: none !important;
	border:1px solid #f2f2f2;
	border-radius:4px!important;
}