#search {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: 101;
	top: 26px;
}
#search-container {
	max-width: 900px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-y: auto;
}
#search-close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 0;
  width: 32px;
  padding: 32px 0 0 0;
  overflow: hidden;
  background: #464646 none;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: #ffffff;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#search-close-button::before {
	content: "x";
	display: block;
	text-align: center;
	width: 36px;
	position: absolute;
	top: -4.6px;
	left: -1px;
	font-size: 30px;
	line-height: 36px;
	font-family: "Helvetica Neue", Consolas, Verdana, Tahoma, Calibri, Helvetica, Menlo, "Droid Sans", sans-serif;
}
#search-container h2 {
	margin-top: 35px;
	padding-bottom: 5px;
	border-bottom: 2px solid #464646;
}
#search-container .search-form {
	height: 30px;
	margin: 20px 0;
}
#search-container .search-keyword {
	height: 30px;
	border: 1px solid #999;
	background-color: #e3e3e3;
	color: #999;
	padding: 0 5px;
	max-width: 812px;
	width: 100%;
	display: inline-block;
	float: left;
	font-size: 1em;
}
#search-container .search-submit {
	background: #464646;
	color: #FFF;
	width: 88px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	float: left;
}
#search-results-container {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#search-facets {
	width: 260px;
	display: table-cell;
	vertical-align: top;
}
#search-facets h3 {
	border-bottom: 2px solid #464646;
	padding: 5px 0;
	margin-bottom: 0.5em;
}
#search-facets ul li {
	cursor: pointer;
	list-style: none;
	background-color: #ccc;
	width: 100%;
	padding: 5px 20px 5px 5px;
	margin-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
}
#search-facets ul li.active {
	background-color: #464646;
}
#search-facets ul li.active a {
    color: #d8d8d8;
}
#search-facets ul li a {
    color: #464646;
}
#filter-by-section {
	/* margin-top: 20px; */
}
#search-results-wrapper {
	display: table-cell;
	width: auto;
	vertical-align: top;
}
#search-results {
	margin: 0;
	padding: 0 0 20px 30px;
    width: 100%;
}
#search-results ul {
	height: 32px;
	border-bottom: 2px solid #464646;
}
#search-results ul li {
	list-style: none;
	display: inline-block;
	float: left;
}
#search-results ul li a {
	display: inline-block;
	background-color: #FFF;
	color: #464646;
	padding: 0 10px 0 5px;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
	text-decoration: none;
}
#search-results ul li a.active {
	background-color: #464646;
	color: #FFF;
}
#search-results  .search-result {
	margin: 10px 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #e3e3e3;
}
.search-result-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding-right: 40px;
    font-weight: bold;
}
.relevance-bar {
	height: 100%;
	background-color: #464646;
}
.search-results-content {
    position: relative;
}
.search-result-content-entries {
    margin: 10px 0 0 60px;
}
.search-result-section-image {
    position: absolute;
}
.search-result-section-image img {
	max-width: 50px;
	max-height: 50px;
}
.search-result-publication {
	font-style: italic;
	color: #999;
	padding: 10px 0;
}
#search-notes .search-result-content-entry {
	background-color: #ffb51a;
	padding: 10px;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#cccccc')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#cccccc');
}
#search-toolbar-item {
	display: inline-block;
	width: 140px;
	height: 26px;
	position: relative;
	vertical-align: middle;
}
#search-toolbar-item .search-keyword {
	vertical-align: middle;
	width: 140px;
	outline: none;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	background-color: #747474;
	border: 0;
	line-height: 16px;
	border-spacing: 0;
	margin: 5px 0;
	padding: 0 4px 0 22px;
	color: #FFF;
}
#search-toolbar-item .search-submit {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: url(../img/icon-magnify-gray.png) 0 0 no-repeat;
	background-size: 10px 10px;
	cursor: pointer;
}
.search-result-content-entry-title {
    color: #e3e3e3;
    font-size: 80%;
    margin: 0 0 20px 0;
}
.search-result-note-tags {
	font-size: 80%;
}
.search-result-note-tags .note-tag {
	padding: 0 10px 0 0;
}

@media screen and (min-width: 50em) {
    #search-container {
        max-width: 50em;
    }
    #search-container .search-keyword {
        max-width: 710px;
    }
}

@media screen and (min-width: 46.8em) and (max-width: 49.9em) {
    #search-container {
        padding: 0 20px 0 40px;
        max-width: 46.8em;
    }
    #search-container .search-keyword {
        max-width: 600px;
    }
}

@media screen and (min-width: 24em) and (max-width: 46.7em) {
    #search-container {
        padding: 0 20px 0 40px;
    }
    #search-facets {
        display: block;
        width: auto;
    }
    #search-results-wrapper {
        display: block;
    }
    #search-results {
        padding: 0 0 20px 0;
    }
    #search-container .search-keyword {
        width: auto;
        margin: 0 20px 0 0;
    }
}
