#toc-view {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -200px;
	width: 200px;
	height: auto;
	margin: 26px 0px 0px 0px;
	background-color: #cbcbcb;
	background: -moz-linear-gradient(100% 100% 90deg, #cbcbcb, #ffffff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cbcbcb));
	-moz-box-shadow: 0 -6px 6px #888;
	-webkit-box-shadow: 0 0 6px #888;
	-ms-box-shadow: 0 0 6px #888;
	box-shadow: 0 0 6px #888;
	z-index: 102;
}
#toc-handle {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); 
	display: block;
	position: absolute;
	left: 163px;
	top: 100px;
	color: #222;
	z-index: 101;
	font-size: 12px;
	line-height: 1;
	background: transparent url("../img/bg-tab-bottom.png") no-repeat;
	width: 99px;
	height: 25px;
	text-align: center;
	overflow: hidden;
	padding: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
#toc-reference-image {
	width: 180px;
	height: 160px;
	margin: 20px 10px;
	text-align: center;
}
#toc-reference-image img {
	border: 5px solid white;
	max-width: 100%;
	max-height: 100%;
	-moz-box-shadow: 2px 2px 6px #808080;
	-webkit-box-shadow: 2px 2px 6px #808080;
	box-shadow: 2px 2px 6px #808080;	
}
#toc-navigation-scroll-wrap {
	width: 180px;
	margin: 20px 10px 0 10px;
	overflow: hidden;
}
#toc-navigation {
	position: absolute;
	width: 195px;
	overflow-y: auto;
	overflow-x: hidden;
	font-family:Arial, Helvetica, sans-serif !important;
}
#toc-navigation ul.collapsibleList {
	width: 180px;
	line-height: 150%;
	font-size: .8em;
}
#toc-navigation ul.collapsibleList li {
	width: 100%;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ccc;
	border-bottom: 1px solid #888;
}
#toc-navigation ul.collapsibleList > li > ul > li {
	background-color: #ddd;
}
#toc-navigation ul.collapsibleList > li > ul > li > ul > li {
	background-color: #eee;
}
#toc-navigation ul.collapsibleList > li > ul > li > ul > li > ul > li {
	background-color: #fff;
}
#toc-navigation ul.collapsibleList li.navArrow {
	background-color: #999;
}
#toc-navigation ul.collapsibleList > li > ul > li.navArrow {
	background-color: #aaa;
}
#toc-navigation ul.collapsibleList > li > ul > li > ul > li.navArrow {
	background-color: #bbb;
}
#toc-navigation ul.collapsibleList > li > ul > li > ul > li > ul > li.navArrow {
	background-color: #ccc;
}
#toc-navigation ul.collapsibleList > li > ul > li > ul > li > ul > li > ul li.navArrow {
	background-color: #ddd;
}
#toc-navigation li.navArrow > .navArrowContainer {
	float: right;
	margin: 5px;
	height: 16px;
	width: 16px;
}
#toc-navigation li.H > .navArrowContainer {
	background: url('../img/bg-nav-arrow.png') no-repeat center;
}
#toc-navigation li.V > .navArrowContainer {
	background: url('../img/bg-nav-arrow.png') no-repeat center;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
#toc-navigation .navTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 15px 5px 5px;
	width: 160px;
	cursor: pointer;
}