#toolbar {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 26px;
	min-height: 26px;
	overflow: hidden;
	background: #464646;
	min-height:26px;
}
#toolbar-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 26px;
	width: 26px;
	background: url('../img/bg-header-bar-left.png') no-repeat;
}
#toolbar-pub-title {
	position: absolute;
	top: 0px;
	left: 40px;
	height: 26px;
	color: #d8d8d8;
	font-size: 14px;
	padding: 4px 0px 0px 0px;
}
#toolbar-items {
	position: absolute;
	top: 0px;
	right: 5px;
	height: 26px;
}
div.toolbar-item {
	display: inline-block;
	height: 26px;
	width: 26px;
	margin: 0 3px;
	vertical-align: middle;
}
div.toolbar-item:after {
	background: none;
}
div.TextEnlarge-toolbar-item {
	background: url('../img/iconFontIncrease.png') no-repeat center center;
	height: 26px;
	width: 26px;
	text-indent: 9999px;
}
div.TextReduce-toolbar-item {
	background: url('../img/iconFontDecrease.png') no-repeat center center;
	height: 26px;
	width: 26px;
	text-indent: 9999px;
}
div.Print-toolbar-item {
	background: url('../img/print_icon.png') no-repeat center center;
	height: 26px;
	width: 26px;
	text-indent: 9999px;
}
div.Account-toolbar-item {
	background: url('../img/user-icon.png') no-repeat center center;
	height: 26px;
	width: 26px;
	text-indent: 9999px;
}
div.Search-toolbar-item {
	background: url('../img/search-field.png') no-repeat center center;
	height: 26px;
	width: 143px;
	text-indent: 9999px;
}
.ui-tooltip-toolbar-login .qtip-content {
	background-color: #464646 !important;
}

#loginForm .field {
	padding-bottom: 8px;
}
span.cap {
	text-transform: capitalize;
}
#loginError {
	margin-top: 8px;
	color: white;
	background-color: red;
}
