#osci_viewer_wrapper * {
    margin: 0;
    padding: 0;
}

#osci_viewer_wrapper p {
    margin: 0 0 21px;
}

#osci_viewer_wrapper h1 {
    margin: 0 0 1em;
    width 100%;
    border-bottom: 2px solid #444;
}

#osci_viewer_wrapper h2 {
    margin: 0 0 1em;
    width: 100%;
    border-bottom: 1px solid #CCC;
}

#osci_viewer_wrapper {
    padding: 10px;
    border: 1px solid #efefef;
    background: #CCC;
}

#osci_viewer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#osci_viewer .osci_page {
    position: absolute;
    -webkit-box-shadow: #444 0px 2px 5px;
    background: #FFF;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); 
    overflow: hidden;
}

#osci_viewer .column {
    display: inline;
    position: absolute;
    overflow: hidden;
    top: 0;
    text-align: justify;
}

#osci_viewer_wrapper a.awesome{
    margin: 0 10px 0 0;
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

#osci_viewer_wrapper a.awesome:hover {
    background-color: #444;
    color: #FFF;
    text-decoration: none;
}

#osci_viewer_wrapper span.footnote_number {
    float: left;
    font-weight: bold;
    padding: 0 4px 0;
}

#osci_viewer figure {
    position: absolute;
    overflow: hidden;
}

#osci_viewer figure .figureContent {
    overflow: hidden;
}

#osci_viewer figure figcaption {
    text-align: center;
    color: #AAA;
    font-size: 12px;
}

#osci_viewer figure figcaption p {
    margin: 0;
}
