.highlight-hover,
.highlight-note {
    background-color: #FFCC33;
}

.highlight {
    border-bottom: 2px dashed #FFCC33;
}

div#osci-note-dialog {
    display: none;
}

.cite-paragraph {
    /*border: 1px dashed #999;*/
    cursor: pointer;
}

.osci-note-dialog {
    background-color: #fff;
    border: 1px;
    padding: 10px;
}

ul.selection-toolbar {
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: #fff;
    padding: 10px !important;
}
ul.selection-toolbar,
ul.selection-toolbar li {
    display: inline;
}
ul.selection-toolbar li a {
    padding: 5px !important;
}

div.note {
    position: relative;
    top: -40px;
    left: -180px;
    /*padding: 10px;
    border: 1px solid #666;*/
    width: 300px;
    background-color: #FFB51A;
}

div.note div.links {
    float: right;
}

div.note div.links ul,
div.note div.links ul li {
    display: inline;
}
