body.page-node-reader {
    margin: 0;
    padding: 0;
	
}

.ui-widget {
    font-size: 100%;
}

.superscript { 
    position: relative; 
    top: -0.5em; 
    font-size: 80%; 
    text-decoration: none; 
    padding-left: 3px;
    font-weight: bold;
}

.field-items {
    position: relative;
}

.page-node-reader .content, .page-node-reader #page-wrapper {
    width: 100%;
    min-width: 10px;
    margin: 0;
}

#osci_header {
    background: #464646 url('../images/bg-header-bar-left.png') no-repeat;   
    height: 26px;
    padding: 0 0 0 40px;
    /*z-index: 9999;*/
    position:relative;
}
#osci_header h2.osci_book_section_title {
	z-index:50;
	text-align:center!important;
	font-family:Arial, Helvetica, sans-serif;
}

#osci_header h1 {
    font-size: 14px; 
    border: 0px;  
    margin: 0;
    padding: 2px 0 0 0;
    color: #d8d8d8;
    display: inline-block;
}

#osci_header h1 a {
    color: #d8d8d8;
}

#osci_header h2 {
    font-size: 12px;  
    border: 0px; 
    margin: 0;
    position: absolute;
    top: 32px;
    left: 0;
    text-align: center;
    color: #B8B8B8;
	font-weight:normal!important;
}

#osci_header_controls {
    background: #464646 url('../images/bg-header-bar-right.png') no-repeat;   
    float: right;
    height: 26px;
    width: 198px;
}

#osci_viewer_wrapper {
    position: relative;   
    overflow: hidden;
}

#osci_navigation_wrapper {
    position: absolute; 
    bottom: 0;  
    left: 0;
    right: 0;
    height: 40px;
}

#osci_navigation {
    position: relative;
    width: 100%;
}

#osci_nav_prev {
    position: absolute;
    width: 16px;
	height:20px;
    top: 0;
    right: 70px;
	background: transparent url('../images/btn-prev.png') no-repeat left top;
	overflow:hidden;display:block;text-indent:999px;
	opacity: 0.3;
}

#osci_nav_next {
	width: 16px;
	height:20px;
    position: absolute;
    right: 40px;
    top: 0;
    text-align: right;
	background: transparent url('../images/btn-next.png') no-repeat left top;
	overflow:hidden;display:block;text-indent:999px;
	opacity: 0.3;
}
#osci_nav_next:hover, #osci_nav_prev:hover {
	opacity: 0.8;
}

#osci_navigation_tools {
    position: absolute;
    left: 130px;
    right: 130px;
    height: 10px; 
    top: -10px;
}

#osci_navigation_section_list {
    list-style-type: none;   
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #cbcbcb;
    background: -moz-linear-gradient(100% 100% 90deg, #999999, #cbcbcb);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbcbcb), to(#999999));
}

#osci_navigation_section_list li {
    background: transparent url("../images/bg-osci-navbar-tick.png") repeat-y right;
    height: 7px;
    float: left;
    cursor: pointer;
}

#osci_navigation_section_list li.first, #osci_navigation_section_list li.first.active {
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

#osci_navigation_section_list li:hover {
    background: #666 url("../images/bg-osci-navbar-tick.png") repeat-y right;
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -moz-linear-gradient(100% 100% 90deg, #, #666);
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#));
}

#osci_navigation_section_list li.active {
    background: #666 url("../images/bg-osci-navbar-tick.png") repeat-y right;
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -moz-linear-gradient(100% 100% 90deg, #, #666);
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#));
}

#osci_navigation_section_list li.last {
    background: transparent;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

#osci_navigation_section_list li.active.last {
    background: #666;
    background: -moz-linear-gradient(100% 100% 90deg, #, #666);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#));
}

#osci_navigation_section_list li.last:hover {
    background: #666;
    background: -moz-linear-gradient(100% 100% 90deg, #, #666);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#));
}

#osci_table_of_contents_wrapper {
    position: absolute;
    width: 180px;
    top: 0;
    left: 0;   
    bottom: 0;
    z-index: 1000;
    padding: 0 10px;
    margin: 26px 0 0 0;
    background-color: #cbcbcb;
    background: -moz-linear-gradient(100% 100% 90deg, #cbcbcb, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cbcbcb));
    -moz-box-shadow: 0 -6px 6px #888;
    -webkit-box-shadow: 0 0 6px #888;
    box-shadow: 0 0 6px #888;
    height: auto;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); 
}

#osci_navigation_toc_wrapper {
    overflow: hidden;
    height: 300px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.85em;
}

ul#osci_navigation_toc {
    border-top: 1px solid #888;
}

ul#osci_navigation_toc li {
    position: relative;
    width: 100%;
    list-style-type: none;
}

ul#osci_navigation_toc li a {
    background: #b8b8b8;
}

ul#osci_navigation_toc li ul li a {
    background: #c8c8c8;
}

ul#osci_navigation_toc li ul {
    overflow: hidden;
}

ul#osci_navigation_toc li ul li ul li a {
    background: transparent;
}

ul#osci_navigation_toc li a {
    display: block;
    border-bottom: 1px solid #888;
    padding: 8px 25px 8px 4px;
    color: #222;
}

ul#osci_navigation_toc li a:hover {
    text-decoration: none;   
}

ul#osci_navigation_toc li a.osci_toc_arrow {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 0;
    padding: 0;
    height: 29px;
    width: 17px;
    background: url("../images/bg-nav-arrow.png") no-repeat 4px 10px;
    text-indent: -100px;
    overflow: hidden;
    opacity: .3 !important;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); 
}

ul#osci_navigation_toc li a.osci_toc_arrow:hover {
    opacity: .6 !important;
}

ul#osci_navigation_toc li a.osci_toc_arrow.expanded {
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
}

/*ul#osci_navigation_toc li.active a,
ul#osci_navigation_toc ul li.active a,
ul#osci_navigation_toc ul li.active a li.active a {
text-decoration:underline!important;	
}*/

ul#osci_navigation_toc a.osci_toc_arrow.active {
    opacity: 1!important;
}
ul#osci_navigation_toc a.active {
	font-weight:bold;	
}
/*ul#osci_navigation_toc li.active li.active a
ul#osci_navigation_toc ul li.active li a,
ul#osci_navigation_toc li a {
	text-decoration:none!important;	
}*/

#osci_table_of_contents_wrapper H2 {
    text-transform: uppercase;
    font-size: 10px;
    color: #CCC;
    margin: 10px 0 0;
    border: none;
}

#osci_table_of_contents_wrapper .osci_table_of_contents_handle {
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    display: block;
    position: absolute;
    left: 160px;
    /*top: %;*/
	top:100px;
    /*margin-top: -43px;*/
    color: #222;
    z-index: 1001;
    font-size: 12px;
    line-height: 1;
    background: transparent url("../images/bg-tab-bottom.png") no-repeat;
    width: 99px;
    height: 25px;
    text-align: center;
	overflow:hidden;
	padding-top:6px;
	font-family:Arial, Helvetica, sans-serif;
	/*text-transform:uppercase;*/
}

.osci_reference_image {
    text-align: center;   
    height: 180px;
}

.osci_reference_image img {
    border: 5px solid #FFF;   
    -moz-box-shadow: 0 2px 6px #808080;
    -webkit-box-shadow: 0 2px 6px #808080;
    box-shadow: 0 2px 6px #808080;
}

.page-text:hover {
	background: url('../images/bg-white-20.png') repeat left top !important;	
}

#osci_more_wrapper {
    background: #cccccc;
    position: absolute;
    height: 300px;
    bottom: 0;
    left: 0;   
    width: 100%;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); 
	font-family:Arial, Helvetica, sans-serif;
}

#osci_more_wrapper .osci_more_handle {
    display: block;
    position: absolute;
    /*left: %;
	margin-left: -43px;*/
    left:20px;
    bottom: 294px;
    color: #222;
    z-index: 1001;
    font-size: 12px;
    line-height: 1;
    background: transparent url("../images/bg-tab-bottom.png") no-repeat;
    width: 99px;
    height: 25px;
    text-align: center;
	overflow:hidden;
	padding-top:6px;
	font-family:Arial, Helvetica, sans-serif;
	/*text-transform:uppercase;*/
}

#osci_more_tabs {
    border: 0;   
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    position: relative;
	font-family:Arial, Helvetica, sans-serif;
}

#osci_more_tabs ul li {
    display: inline-block;    
    padding: 8px 15px 8px 15px;
    margin: 0 10px 0 0;
}

#osci_more_tabs ul li a {
/*    padding: 4px 6px;   */
    text-transform: uppercase;
    font-size: 80%;
}
#osci_more_tabs ul li.ui-state-default,  #osci_more_tabs ul li.ui-state-default a {
	background:none;border:none;
}
#osci_more_tabs ul li.ui-state-active {
    border-bottom: 1px solid #f8f8f8;   
    margin: 0 10px -1px 0;
	/*background: url('../images/bg-btm-tabs.png') repeat left top;*/
	background:#fff;
}

#osci_more_tabs ul li.ui-state-active a {
    background: #FFF;  
	/*background: url('../images/bg-btm-tabs.png') repeat left top;*/
}

#osci_more_tabs ul.ui-tabs-nav {
    border: 0;   
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 6px 10px 0 5px;
	
	/*-moz-box-shadow: 0 1px 1px #666;
    -webkit-box-shadow: 0 1px 1px #666;
    box-shadow: 0 1px 1px #666;*/
}

#osci_more_tabs div.ui-tabs-panel {
    overflow: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    /*background: url('../images/bg-btm-tabs.png') repeat left top;*/
	background-color:#fff;
    height: 249px;
    border: 0;
    padding: 10px;
}

#osci_more_tabs div.ui-tabs-panel.ui-tabs-hide {
    display: none;   
}

#osci_more_tabs div.osci_pager_content {
    display: none;   
}

#osci_more_wrapper ul.osci_pager {
    position: absolute;
    width: 100%;
    top: 35px;
    margin: 0 auto;
    text-align: center;
}

#osci_more_wrapper ul.osci_pager li {
    overflow : hidden;   
}

#osci_more_wrapper ul.osci_pager li.osci_pager_item {
    width: 16px; 
}

#osci_more_wrapper ul.osci_pager li a.osci_pager_nav_first {
    background: url("../images/btn-paginate-first.png") no-repeat;   
    width: 26px;
    height: 16px;
    display: inline-block;
    text-indent: -1000px;
    opacity: .3;
    cursor: pointer;
}

#osci_more_wrapper ul.osci_pager li a.osci_pager_nav_prev {
    background: url("../images/btn-paginate-prev.png") no-repeat;   
    width: 13px;
    height: 16px;
    display: inline-block;
    text-indent: -1000px;
    opacity: .3;
    cursor: pointer;
}

#osci_more_wrapper ul.osci_pager li a.osci_pager_nav_next {
    background: url("../images/btn-paginate-next.png") no-repeat;   
    width: 13px;
    height: 16px;
    display: inline-block;
    text-indent: -1000px;
    opacity: .3;
    cursor: pointer;
}

#osci_more_wrapper ul.osci_pager li a.osci_pager_nav_last {
    background: url("../images/btn-paginate-last.png") no-repeat;   
    width: 26px;
    height: 16px;
    display: inline-block;
    text-indent: -1000px;
    opacity: .3;
    cursor: pointer;
}

#osci_more_wrapper ul.osci_pager li.active {
    font-weight: bold;   
}

#osci_more_wrapper .osci_pager_display_item {
    height: 211px;
    overflow: hidden;
	margin-top:35px;
}

#osci_more_wrapper div.figureThumbnail { 
    margin: 0 20px 0 0;
    display: inline-block;
    width: 165px;
	
}

#osci_more_wrapper div.figureThumbnail span {
    display: block;   
}

#osci_tab_figures {
    text-align: center;   
}

#osci_tab_figures div.figureThumbnail:hover {
    cursor: pointer;
}

#osci_tab_footnotes span.footnote_number:hover {
    cursor: pointer;
    text-decoration: underline;
}

#osci_tab_footnotes span.footnote_number {
    float: left;
    font-size: 200%;
    padding: 0 20px 20px 0;
    display: block;
    vertical-align: top;
    line-height: 1;
}

#osci_note_panel_wrapper {
    position: absolute;
    width: 130px;
    top: 0;
    right: 0;   
    bottom: 0;
    padding: 0;
    margin: 26px 0 60px 0;
    height: auto;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); 
}

#osci_note_panel_wrapper .osci_reference_image {
    text-align: center;   
    height: 120px;
    margin: 40px 0 0 0;
}

#osci_note_panel_wrapper .osci_reference_image img {
    border: 2px solid #FFF;   
    -moz-box-shadow: 0 2px 6px #808080;
    -webkit-box-shadow: 0 2px 6px #808080;
    box-shadow: 0 2px 6px #808080;
}


/* new steez */
h1, h2, h3, h4, h5 { text-align:left!important; }

#osci_viewer h3 {
	font-size:20px!important;
	/*padding-top:1.2em!important;*/
	border-bottom:1px solid #ccc!important;
}
#osci_viewer span.osci_paragraph_identifier {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:3px;	
}
#osci_viewer h4 {
	font-size:16px!important;
	padding-top:.8em!important;
}
#osci_viewer h5 {
	font-size:14px!important;
	padding-top:.5em!important;
}

#osci_viewer .osci_page {
	background-color:#fff;
	-moz-box-shadow: 0 2px 6px #666;
    -webkit-box-shadow: 0 2px 6px #666;
    box-shadow: 0 2px 6px #666;
	
}
#osci_more_wrapper div.figureThumbnail {
	
	-moz-box-shadow: 0 1px 4px #666;
    -webkit-box-shadow: 0 1px 4px #666;
    box-shadow: 0 1px 4px #666;
	border:5px solid #fff;
	background-color:#fff;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
}
#osci_more_wrapper div.figureThumbnail img {
	
}
div.figureThumbnail .figure_number {
	text-align:left;
}
a.figure_goto, a.figure_fullscreen {
	height:16px;width:16px;display:block;overflow:hidden;
	text-indent:999px;
	opacity: 0.6;
}
a.figure_goto {
	background: url('../images/icon-goto.png') no-repeat left top;
	position:absolute;right:22px;bottom:2px;
}
a.figure_fullscreen {
	background: url('../images/icon-fullscreen.png') no-repeat left top;
	position:absolute;right:0px;bottom:2px;
}
a.figure_goto:hover, a.figure_fullscreen:hover {
	opacity:1.0;	
}
.footnote { 
	padding: 40px !important; 
	line-height:1.6em;
}

#osci_viewer {
	background: url('../images/bg-body.png') repeat left top !important;
}


/* notes */
#osci_note_panel_wrapper {
	
}
#osci_note_panel_wrapper .noteTitle {
	/*position:relative;*/
}
#osci_note_panel_wrapper .noteTitle .note {
	/*position:absolute;
	top:0px!important;
	right:10px !important;
	left:310px!important;*/
	
}
#osci_note_panel_wrapper .note {
	margin-bottom:-40px!important;
	-moz-box-shadow: 0 1px 3px #000;
    -webkit-box-shadow: 0 1px 3px #000;
    box-shadow: 0 1px 3px #000;
	
}
.noteTitle a.ajax-processed {
	margin-left:10px !important;
	margin-right:10px!important;
	background-color:#FFB51A;
	font-size:11px;
	padding:5px!important;
	display:block;	
	margin-bottom:5px!important;
	color:#000!important;
	font-family:Arial, Helvetica, sans-serif!important;
	opacity:0.5;
	height:30px;overflow:hidden;
}
.noteTitle a.ajax-processed:hover {
	opacity:1.0;	
}

/* note link icon buttons */
a.note-edit-link, a.note-delete-link, a.note-close-link {
	width:16px;height:16px;display:block;overflow:hidden;text-indent:999px;
	opacity:0.7;
}
a.note-edit-link:hover, a.note-delete-link:hover, a.note-close-link:hover {
	opacity:1.0;
}
.note-edit-link {
	background: url('../images/icon-edit.png') no-repeat left top;
	position:absolute;
	bottom:5px;
	right:26px
	
}
.note-delete-link {
	background: url('../images/icon-delete.png') no-repeat left top;
	position:absolute;
	bottom:5px;
	right:5px;
}
.note-close-link {
	background: url('../images/icon-minimize.png') no-repeat left top;
	position:absolute;
	top:5px;
	right:5px;
}
/* */
div.note {
	padding-top:5px!important;
	font-family:Arial, Helvetica, sans-serif !important;
}
.note-content {
	margin:5px!important;padding:5px!important;	color:#000 !important;
	/*background-color:#FFC54A;*/
}

#osci_note_panel_wrapper .field-name-field-taxonomy-tags {
	padding:0px 10px 22px 10px!important;	
}
.note h3.field-label {
	font-weight:normal;
	text-transform:uppercase;
	padding-bottom:5px!important;
	background: url('../images/bg-bevel.png') repeat-x left bottom;
	color:#333!important;
	font-size:1em!important;
}
.note ul.links li a {
	color:#000!important;
	text-decoration:underline!important;	
}

/* loading animation */
.noteTitle { position:relative; }
.noteTitle .throbber {
	position:absolute;
	top:5px;right:15px;
	background: #FFB51A url('../images/loader.gif') no-repeat left top !important;
}



/* technical analysis & summary styles */
.field_osci_technical_analysis, .field_osci_technical_summary {
    /*font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;*/
	color:#666;
    font-size: 12px;
}
.field_osci_tombstone {
	text-align:left!important;	
}

#osci_plate_fig figcaption span.figure_number {
	display: none;
}

.superscript.footnote-link {
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px!important;
	padding-left:5px!important;
}

/* fancy box */
.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: 5px;
	height: 32px;
}
#fancybox-title-float-left, #fancybox-title-float-right {
	display:none!important;	
}
#fancybox-title-float-main {
	background-color: #fff;
	color:#333 !important;
	background-image: none;
	padding-left:15px;	
	padding-right:15px;
	 
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius: 4px;
	
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius: 4px;
}
.fancybox-title-float tbody, .fancybox-title-float tr {
	background:none!important;
	border:none!important;	
}

#fancybox-title-float-main * {
    display: inline;   
}

#fancybox-title-float-main .figure_fullscreen {
    display: none;
}

#osci_loading {
    width: 100%;
    height: 100%; 
    position: absolute; 
    background: black url('../images/ajax-loader.gif') no-repeat center center;
    top: 0;
    left: 0;
    z-index: 9999; 
    opacity: .7;
}

/* table styles */
.figureContent table {
	
}
.figureContent table tr {
	
}
.figureContent table tr th {
	padding:4px!important;
}
.figureContent table tr td {
	padding:4px!important;
}


/* hightlight popup */
ul.selection-toolbar {
	/*-moz-box-shadow: 0 1px 3px #000;
    -webkit-box-shadow: 0 1px 3px #000;
    box-shadow: 0 1px 3px #000;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	/*background-color: #fff!important;
    background: -moz-linear-gradient(100% 100% 90deg, #fff, #e3e3e3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e3e3));*/
	background: url('../images/bg-toolbar-carrot.png') no-repeat center bottom!important;
	padding:10px 10px 20px 10px!important;
	text-align:left!important;
	/*width:300px!important;*/
}
ul.selection-toolbar li.first a {
	background: url('../images/bg-doublearrows.png') no-repeat right 9px!important;	
	padding-right:20px!important;
}

div.ctools-modal-content {
background: white;
color: black;
padding: 0;
margin: 2px;
	border: 5px solid #000;
width: 600px;
text-align: left;
	font-family:Arial, Helvetica, sans-serif!important;
	
}
div.ctools-modal-content .modal-header {
	background-color: #fff;
	padding: 0 !important;
	margin:10px;
	border-bottom:2px solid #333;
	color:#000!important;
}
div.ctools-modal-content .modal-title {
	color:#000!important;
}
#modalBackdrop {
	background:#000!important;
	opacity:0.55!important;	
}
#modalContent {
	
}
div.ctools-modal-content a.close {
	font-size:11px;
	padding-top:4px;
	color:#999!important;
}
div.ctools-modal-content a img { display:none!important; }

div.ctools-modal-content textarea, div.ctools-modal-content input.form-text {
	background-color:#E3E3E3 !important;
	border-color:#999!important;	
}
div.ctools-modal-content .resizable-textarea {
width: auto;
	margin-left: 0!important;
	margin-right: 0!important;
	border-color:#999!important;
}
div.ctools-modal-content .at-term-entry {
	float:none!important;	
}
.resizable-textarea .grippie {
	
	border: 1px solid #999 !important;
	
}
div.ctools-modal-content input.form-submit {
	border:none!important;
	border-radius: 3px;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    background-color: #333!important;
    background: -moz-linear-gradient(100% 100% 90deg, #333, #000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	color:#fff!important;
	text-tranform:uppercase;
}


