body.page-node-reader {
    margin: 0;
    padding: 0;
}

.superscript { 
    position: relative; 
    top: -0.5em; 
    font-size: 80%; 
    text-decoration: none; 
    padding-left: 3px;
    font-weight: bold;
}

.field-items {
    position: relative;
}

.page-node-reader .content, .page-node-reader #page-wrapper {
    width: 100%;
    min-width: 10px;
    margin: 0;
}

#osci_header {
    background: url('../images/bg-osci-titlebar.png') repeat-x;   
    height: 66px;
    padding: 6px 0 0 40px;
}

#osci_header h1 {
    font-size: 1em; 
    border: 0px;  
    margin: 0 0 4px 0;
}

#osci_header h2 {
    font-size: .75em;  
    border: 0px; 
    margin: 0;
}

#osci_viewer_wrapper {
    position: relative;   
}

#osci_navigation_wrapper {
    position: absolute; 
    bottom: 0;  
    left: 0;
    right: 0;
    height: 40px;
}

#osci_navigation {
    position: relative;
    width: 100%;
}

#osci_nav_prev {
    position: absolute;
    width: 16px;
	height:20px;
    top: 0;
    left: 20px;
	background: transparent url('../image/btn-prev.png') no-repeat left top;
	overflow:hidden;display:block;text-indent:999px;
	
}

#osci_nav_next {
	width: 16px;
	height:20px;
    position: absolute;
    right: 20px;
    top: 0;
    text-align: right;
	background: transparent url('../image/btn-next.png') no-repeat left top;
	overflow:hidden;display:block;text-indent:999px;
}

#osci_navigation_tools {
    position: absolute;
    left: 100px;
    right: 100px;
    height: 10px; 
    top: 0;
}

#osci_navigation_section_list {
    list-style-type: none;   
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #cbcbcb;
    background: -moz-linear-gradient(100% 100% 90deg, #999999, #cbcbcb);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbcbcb), to(#999999));
}

#osci_navigation_section_list li {
    background: transparent url("../images/bg-osci-navbar-tick.png") repeat-y right;
    height: 7px;
    float: left;
    cursor: pointer;
}

#osci_navigation_section_list li.first, #osci_navigation_section_list li.first.active {
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

#osci_navigation_section_list li:hover {
    background: #666 url("../images/bg-osci-navbar-tick.png") repeat-y right;
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -moz-linear-gradient(100% 100% 90deg, #505050, #666);
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#505050));
}

#osci_navigation_section_list li.active {
    background: #666 url("../images/bg-osci-navbar-tick.png") repeat-y right;
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -moz-linear-gradient(100% 100% 90deg, #505050, #666);
    background: url("../images/bg-osci-navbar-tick.png") repeat-y right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#505050));
}

#osci_navigation_section_list li.last {
    background: transparent;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

#osci_navigation_section_list li.active.last {
    background: #666;
    background: -moz-linear-gradient(100% 100% 90deg, #505050, #666);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#505050));
}

#osci_navigation_section_list li.last:hover {
    background: #666;
    background: -moz-linear-gradient(100% 100% 90deg, #505050, #666);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#505050));
}