.highlighter {
    background-color: #FFCC33;
}

div#osci-citation-dialog {
    display: none;
}

.cite-paragraph {
    /*border: 1px dashed #999;*/
    cursor: pointer;
}

.osci-citation-dialog {
    background-color: #fff;
    border: 1px;
    padding: 10px;
}

ul.selection-toolbar {
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: #fff;
    padding: 10px !important;
}
ul.selection-toolbar,
ul.selection-toolbar li {
    display: inline;
}
ul.selection-toolbar li a {
    padding: 5px !important;
}

div.citation {
    position: relative;
    top: 0px;
    left: -310px;
    padding: 10px;
    border: 1px solid #666;
    width: 300px;
    background-color: #FC3;
}
